body {
  background-color: #333333; }
  body .header {
    justify-content: center;
    background-image: url("../img/m-h-night.jpg");
    background-size: cover;
    border-bottom-right-radius: 300px 150px; }
    body .header .header-wrap {
      padding-bottom: 70px;
      margin-left: 170px;
      margin-right: 20px;
      height: 100%;
      width: 490px; }
      body .header .header-wrap .landing-logo, body .header .header-wrap .footer .footer-wrap .footer_logo, body .footer .footer-wrap .header .header-wrap .footer_logo {
        padding-top: 10px;
        display: block;
        width: 100px;
        height: 60px; }
        body .header .header-wrap .landing-logo img, body .header .header-wrap .footer .footer-wrap .footer_logo img, body .footer .footer-wrap .header .header-wrap .footer_logo img {
          margin: 5px;
          float: left;
          width: 30px;
          height: 30px; }
        body .header .header-wrap .landing-logo p, body .header .header-wrap .footer .footer-wrap .footer_logo p, body .footer .footer-wrap .header .header-wrap .footer_logo p {
          font-weight: 20px;
          text-align: center;
          color: white; }
          body .header .header-wrap .landing-logo p span, body .header .header-wrap .footer .footer-wrap .footer_logo p span, body .footer .footer-wrap .header .header-wrap .footer_logo p span {
            display: block;
            font-size: 10px; }
      body .header .header-wrap .header_heading::fifth-child {
        background-color: #ff6633; }
      body .header .header-wrap .header_heading {
        text-align: left;
        font-size: 35px;
        font-family: "Sourse Sans Pro", sans-serif;
        font-weight: bold;
        width: 60%;
        color: white; }
      body .header .header-wrap .header_text {
        font-size: 15px;
        font-family: "Hind", sans-serif;
        color: white; }
      body .header .header-wrap .header_button {
        background-color: #ff9900;
        color: white;
        border: none;
        font-family: "Sourse Sans Pro", sans-serif;
        margin-bottom: 10px; }
      body .header .header-wrap .login {
        color: white;
        font-size: 12px;
        font-family: "Sourse Sans Pro", sans-serif;
        margin: 90px; }
  body .section {
    margin-bottom: 70px; }
    body .section .section_text {
      text-align: center;
      font-family: "Sourse Sans Pro", sans-serif;
      font-size: 25px;
      font-weight: bold;
      color: white; }
    body .section .section_card_wrap {
      margin: 15px 25% 15px 25%; }
      body .section .section_card_wrap .section_card {
        height: 170px;
        padding: 15px;
        margin: 25px;
        background-color: #4a4c58; }
        body .section .section_card_wrap .section_card .section_card_img {
          float: left;
          height: 170px;
          width: 250px;
          padding-right: 40px; }
        body .section .section_card_wrap .section_card .section_card_right_container {
          color: white;
          margin: 40px; }
          body .section .section_card_wrap .section_card .section_card_right_container .section_card_heading {
            text-align: center;
            font-family: "Sourse Sans Pro", sans-serif;
            font-size: 15px;
            font-weight: bold; }
          body .section .section_card_wrap .section_card .section_card_right_container .section_card_text {
            font-family: "Sourse Sans Pro", sans-serif;
            font-size: 10px; }
          body .section .section_card_wrap .section_card .section_card_right_container .section_link {
            color: white;
            font-size: 12px;
            font-family: "Sourse Sans Pro", sans-serif;
            margin: 130px; }
    body .section .section_banner {
      position: absolute;
      padding-left: 60px;
      right: 375px;
      height: 100px;
      width: 700px;
      background-image: linear-gradient(to right, #ff9900, #932e51); }
      body .section .section_banner .section_banner_text_wrap {
        float: left; }
        body .section .section_banner .section_banner_text_wrap .section_banner_heading {
          font-family: "Sourse Sans Pro", sans-serif;
          font-weight: bold; }
        body .section .section_banner .section_banner_text_wrap .section_banner_text {
          color: white;
          font-size: 10px;
          font-family: "Sourse Sans Pro", sans-serif; }
      body .section .section_banner .section_banner_button {
        background-color: #ff9900;
        color: white;
        border: none;
        font-family: "Sourse Sans Pro", sans-serif;
        right: 150px;
        position: absolute;
        margin-bottom: 30px;
        margin-top: 30px; }
  body .footer .footer-wrap {
    padding: 80px;
    color: white;
    background-color: #4a4c58; }
    body .footer .footer-wrap .footer_logo {
      float: left;
      margin-right: 400px;
      color: white; }
      body .footer .footer-wrap .footer_logo p {
        color: white; }
    body .footer .footer-wrap .footer_text {
      float: left;
      font-family: "Sourse Sans Pro", sans-serif;
      font-size: small;
      width: 300px;
      margin-right: 300px; }
    body .footer .footer-wrap .footer-cr {
      padding-top: 200px;
      font-family: "Sourse Sans Pro", sans-serif;
      font-size: small; }
