$background-color:white;
$button-color:green;
$main-img:url("../img/m-h-day.jpg");
$mark-word:blue;
$text-color:black;
$box-backgruond:black;
$main-font:"Sourse Sans Pro", sans-serif;
$second-font:"Hind", sans-serif;
