$background-color:white;
$button-color:#699900;
$main-img:url("../img/m-h-day.jpg");
$mark-word:#1299be;
$text-color:black;
$box-backgruond:black;
$main-font:"Sourse Sans Pro", sans-serif;
$second-font:"Hind", sans-serif;
$gradient:linear-gradient(to right, #699900, #2d5bd8);
