$background-color:#333333;
$button-color:#ff9900;
$main-img:url("../img/m-h-night.jpg");
$mark-word:#ff6633;
$text-color:white;
$box-backgruond:#4a4c58;
$main-font:"Sourse Sans Pro", sans-serif;
$second-font:"Hind", sans-serif;
$gradient: linear-gradient(to right, #ff9900, #932e51);