

.tm-nav-item:hover{
    background-color: lightskyblue;
}

.tm-nav-item-link:hover{
    color:#fff;
}

.tm-banner {
    background-image: linear-gradient(90deg, lightskyblue, burlywood);
}

.tm-banner-inner{
    background-color: #fff;
}

.tm-banner-text{
    text-shadow:2px 3px 4px #333;
    animation: 3s infinite move_text;
}

@keyframes move_text { from { margin-left:200px;} to {left:center} }

.tm-team-img{
    position: relative;
    float:right;
}

.tm-team-description-container{
    position: relative;
    float:left;
}

.tm-section-description{
    text-indent: 25px;
}
.tm-section-title{
    text-align:center;
}

.flex-2-col{
    display:flex;
    align-items: center;
    justify-content: center;
}

.box-bg:hover{
    box-shadow: 400px 0 0 0 lightgray inset;
    color:lightskyblue;
    font-family: 'Open Sans Condensed', sans-serif;
}

.blocks .tm-section-description:last-child{
    letter-spacing: 5px;
    word-spacing: 10px;
    font-style: italic;
}

.padding-medium>h2{
   text-align: center;
   color:lightskyblue;
}

.padding-medium>ol{
    list-style-type: lower-alpha;
}

.padding-medium a:hover::before{
    content:">";
}


.blocks{
   display:flex;
   flex-direction: column; 
}

.blocks>.padding-medium>h2{
    text-align: left;
}
.img-fluid,
.box-work>div{
    margin:5px;
}

.box-work:nth-child(2n+1){
    background-color: lightskyblue;
    color: white;
}


.box-work p{
    font-style: italic;
}

.box-work p:first-letter{
    font-weight: bold;
}
.tm-section-description{
    line-height: 30px;
    
}






